Source: ioncube-loader
Section: web
Priority: extra
Maintainer: The Kernels <kernels@hetzner.co.za>
Build-Depends: debhelper (>= 7), chrpath
Standards-Version: 3.7.3
Homepage: http://www.ioncube.com

Package: ioncube-loader
Architecture: i386
Depends: libc6 (>= 2.7), php5-common (>= 5.2.6)
Description: Loader for Ioncube encode files
 Loaders for ionCube Encoded files.
