#!/usr/bin/make -f
%:
	    dh $@

override_dh_auto_install:
	# Add here commands to install the package into debian/ioncube.
	mkdir -p $(CURDIR)/debian/ioncube-loader/usr/lib/php5/20131226/
	mkdir -p $(CURDIR)/debian/ioncube-loader/usr/share/php/ioncube_loader/
	
	dh_auto_install
